* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #0d0d0f !important;
  background-image: none !important;
  color: #fff;
  overflow-x: hidden;
}

#root {
  width: 100%;
  min-height: 100vh;
  background-color: #0d0d0f !important;
  background-image: none !important;
}